* {
    /*border: solid 1px black;*/
}

body {
    background-color: #C8F7C5;
}

.nav-button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    background-color: #16a085;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav-button:hover {
    background-color: #42a057;
}

nav {
    width: 90%;
    margin: auto;
}

.centered {
    margin: auto;
}

.contact-list {
    margin-top: 30px;
    margin-bottom: 40px;
}

.pagination {
    text-align: center;
}

.pagination ul {
    list-style-type: none;
}

.pagination li {
    display: inline;
}

.pagination li a {
    text-decoration: none;
    color: white;
    border-radius: 3px;
    float: left;
    margin: 6px;
}

.pagination a:link, .pagination a:visited {
    background-color: #4DAF7C;
    padding: 5px;
}

.pagination ul {
    display: inline-block;
}

.pagination a:hover {
    background-color: #86E2D5;
}

.pagination a.active {
    background-color: #FDE3A7;
    color: #F89406;
}

.pagination a.active:hover {
    background-color: #F2784B;
    color: white;
}


form.main {
    margin-top: 50px;
    border-radius: 15px;
    width: 1200px;
    background-color: white;
    padding: 40px;
    font-family: "Lucida Console", Monaco, monospace;
}

header {
    text-align: center;
}

a.edit-contact {
    text-decoration: none;
    color: #E26A6A;
}

div#contact-photo-select-area {
    width: 240px;
    height: 320px;
    box-sizing: border-box;
}

div#contact-photo-select-area img:hover {
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
}

div#contact-photo-select-area img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.block {
    display: block;
}

.input-label {
    display: block;
    margin: 10px;
}

.input-field {
    float: right;
    width: 300px;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: oblique;
}

.main-info, .edit-photo {
    width: 60%;
    margin: 40px auto;
}

.action-button {
    float: right;
    margin: 10px;
    width: 130px;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

input.remove {
    background-color: #c0392b;
}

input.remove:hover {
    background-color: #c0773a;
}

input.add {
    background-color: #2ecc71;
}

input.add:hover {
    background-color: #4ccca4;
}

input.edit {
    background-color: #34495e;
}

input.edit:hover {
    background-color: #42595e;
}

#edit-contact-button {
    background-color: #888888;
}

article {
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    width: 240px;
    height: 320px;
    display: block;
    margin: 30px auto;
}

.apply-button {
    margin: 20px auto;
    width: 200px;
    display: block;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #16a085;
    font-size: 14px;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.apply-button:hover {
    background-color: #43a049;
}

label span {
    display: block;
    width: 20%;
    margin: 30px auto;
}

.data-fields {
    width: 60%;
    margin: 30px auto;
}

.save-button {
    margin: 20px auto;
    width: 230px;
    display: block;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 17px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #e67e22;
    font-size: 14px;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.save-button:hover {
    background-color: #e6d860;
}

.recipients {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

.email-properties {
    width: 40%;
    margin: 40px auto;
    text-align: center;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.search-data-fields {
    width: 50%;
    margin: auto;
}