* {
    box-sizing: border-box;
}

html * {
    /* border: solid 3px black; */
}

.center {
    margin: auto;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.all-contacts {
    width: 1000px;
    border-radius: 10px;
    padding: 30px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.full-width {
    width: 100%;
}

.nav-button {
    width: 150px;
    padding: 15px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: block;
    border-radius: 10px;
}

.action-button {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
}